body {
  font-family: arial, helvetica;
}
h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}
button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 8;
}